.articulos {
  padding: 50px 0 0 10%;
  background-color: $color-claro;
  @media (prefers-color-scheme: dark) {
    background-color: $color-primario;
  }
  @media screen and (max-width: 820px) {
    padding: 10% 10% 0 10%;
  }
}

.articulo {
  margin-bottom: 75px;
  margin-right: 10px;
  border-bottom: 3px solid $color-secundario;
  &__categoria {
    font-weight: 500;
    font-size: 16px;
    color: $color-secundario;
    @include titulos($font2);
  }
  &__titulo {
    font-size: 20px;
    @include titulos($font2);
  }
  &__descripcion {
    margin-bottom: 30px;
    padding-right: 100px;
  }
  @media (prefers-color-scheme: dark) {
    color: $color-claro;
    border-bottom: 3px solid $color-secundario-dark;
    &__categoria {
      color: $color-secundario-dark;
    }
  }
  @media screen and (max-width: 820px) {
    margin-bottom: 45px;
    &__descripcion {
      margin-bottom: 20px;
    }
  }
}
